@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;700&family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Ribeye&family=Roboto:wght@300;400;500&display=swap');


body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    height: 3000px;
    height: 100%;
}

.head {
    height: 54px;
}


.header__cologo {
    margin-left: -14px;
}

.nav-link {
    padding-top: 5px;
    color: aliceblue;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    color: #dbdbdb;
}

.header__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;

}

.header__name--span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    mix-blend-mode: normal;
}

.header__contblock {
    padding: 0px;
}

.header__contacts {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
}

.header__contacts--button {
    margin-left: 8px;
    margin-top: 2px;
    padding: 0px;
    width: 100px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.header__contacts--button:hover {
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: black;
    color: #FFFFFF;
}

.nav-link:hover {
    color: rgb(183, 183, 183);
}

.header__menu {
    padding: 0px;
}

.header__navigation {
    height: 20px;
}

.header__contblock {
    margin-right: -30px;
}

.header__search {
    margin-top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
    width: 320px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
}

@media only screen and (max-width: 1200px) {
    .header__search {
        width: 200px;
    }

    .strune__title {
        float: right;

    }

    .strune__text {
        margin: 10px 38px;


    }

    .strune__img {
        margin-left: 38px;
    }

    .strune__text--link {
        margin: 12px 38px;

    }
}


.header__garb--sum {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    margin-left: 9px;
    margin-top: 6px;

    color: #000000;
}


.navbar-expand-lg {
    background-color: black;
}

.main__title {
    margin-top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 59px;
    color: #000000;
}

.carousel-indicators {

    max-width: 150px;
}

.main__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-top: 20px;
    width: 390px;
    margin-bottom: 20px;
}

.card__image:hover {
    transform: scale(1.1);
}

.main__carousel {
    margin-left: 0px;
}

.main__button {
    padding-top: 4px;
    width: 220px;
    height: 60px;
    background: #000000;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.carousel__img {
    width: 350px;
}


.carousel-indicators {
    padding-left: 60px;
}

.section__options {
    margin-top: 100px;
}

.section__options--new {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin-top: -2px;

}

.filters {
    margin-top: -1px;
}

.filters__button {
    width: 108px;
    height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    padding-top: 3px;
    border-radius: 0px;
    margin-right: 3px;
}

.filters__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.03em;
    padding-left: 0px;
    padding-top: 6px;
    color: #000000;
}

.card {
    border: 0;
}

.card-body {
    padding: 0px;
}

.card img {
    max-width: 230px;
}

.card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135.4%;
    /* or 16px */

    letter-spacing: 0.03em;
    padding-top: 20px;
    color: #000000;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section__card {
    padding-top: 60px;
}

.price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135.4%;
    /* identical to box height, or 19px */
    padding-top: 0px;
    letter-spacing: 0.03em;

    color: #000000;

}

.advert {
    margin-top: 100px;
}

.strune__title {

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    width: 457px;
}

.strune__text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 442.9px;
    color: #000000;
    padding-top: 22px;
}

.strune__img {}

.strune__text--link {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #000000;
}

.catalog__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 76px;
}

.subscribe__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 80px;

}


.subscribe__text {
    margin-top: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.form-control {
    max-width: 150px;
}

.btn__dd {
    width: 150px;
    height: 33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    border-radius: 0;
    color: #FFFFFF;
}

.form-controll {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    /* identical to box height */
    color: #494949;
    border-radius: 0;
    height: 33px;
    border: 1px solid black;
}

.footer {
    padding-top: 44px;
    margin-top: 80px;
    background-color: black;
    height: 224px;
}


.footer__name {
    padding-left: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #cacaca;
}

.footer__name--span {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.nav-footer {
    margin-top: 33px;
}

.footer__contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
}

.footer__contacts:nth-child(odd) {
    padding-right: 50px;
}

.footer__contacts:nth-child(odd) {
    padding-right: 50px;
}

.footer__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: rgba(255, 252, 252, 0.53);
}

.carousel-indicators [data-bs-target] {
    height: 5px;
}

@media only screen and (max-width: 991px) {
    .carousel__img {
        width: 240px;
    }

    .carousel-indicators {
       
        margin: 10px;
    }

    .card-img-top {
        width: 200px;
    }
}

@media only screen and (max-width: 990px) {
    .header__search {
        width: 150px;
    }

    .img__likvidation {
        width: 360px;
    }

    .strune__title {
        float: none;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
        width: 360px;
    }

    .strune__text {
        margin: -6px 0px;
        font-size: 13px;


    }

    .strune__img {
        margin: 0px;
        margin-top: -18px;
        width: 360px;

    }

    .strune__text--link {
        margin: 16px 0px;

    }



    @media only screen and (max-width: 990px) {
        .header__search {
            width: 150px;
        }

        .img__likvidation {
            width: 360px;
        }

        .footer__contacts {
            padding-left: 50px;
            line-height: 4px;
            /* identical to box height */
            color: #FFFFFF;
        }

        .footer__name {
            font-size: 10px;
        }

        .footer__button {

            width: 200px;
            padding-top: 8px;
        }
    }

}